	<div id = "outer">
		<header>
			    <nav class = "nav-height">
				    <div class="nav-wrapper #448aff blue accent-2">
				      <a href="" class="brand-logo"><div class = "image-margins"><%= image_tag("newlogo.png") %></div></a>
				      <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				      <ul class="right hide-on-med-and-down">
				        <li class = "shutter-out-horizontal"><%= link_to('Log Out', logout_path)%></li>
				        <li class = "shutter-out-horizontal"><a href="" >Contact</a></li>
				        <li class = "shutter-out-horizontal"><a href="">About</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
				        <li><%= link_to('Home', home_path)%></li>
				        <li><a href="">Contact</a></li>
				        <li><a href="">About</a></li>
				      </ul>
				    </div>
				  </nav>
		</header>

		<main class = "center-align full-height main">
			<h1>Whiteboard</h1>
			<p>
			  <% @course_content.each do |cc| %>
			  	<%= cc.content_one%>
			  <% end %>
			</p>

		</main>
		
		<footer class="page-footer #448aff blue accent-2 center-align">
	          <div class="container center-align">
	              <a class="icon-facebook" href="#"></a>
	              <a class="icon-deviantart" href="#"></a>
	              <a class="icon-digg" href="#"></a>
	              <a class="icon-forrst" href="#"></a>
                  <a class="icon-lastfm" href="#"></a>
	          </div>
	          <div class="footer-copyright">
	            <div class="container">
	            © 2017 Copyright Text
	            </div>
	          </div>
        </footer>
	</div>
	